{
  "env": {
    "development": {
      "plugins": ["./plugin-test.js"]
    },
    "production": {
      "plugins": ["./plugin-prod.js"]
    }
  },
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic"
      }
    ]
  ]
}
